/*=== Metabox ===*/

div#tld_wcdpue_metabox h2{
  text-align: center;
}

#tld_wcdpue_metabox h3 {
  text-align: center;
}

#tld-switch, #circle {
  height: 50px;
  transition: .4s;
}

#tld-switch {
  width: 100px;
  margin: 10px auto 0;
  cursor: pointer;
  border: 2px solid #E8EAEC;
  border-radius: 27px;
  background: #FAFAFB;
}

#circle {
  width: 50%;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(26,53,71,.25), 0 0 0 1px rgba(26,53,71,.07);
  background: #fff;
}

#tld-switch.active {
  border-color: #41C955;
  background: #52D468;
}

#tld-switch.active #circle {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

#meta-switch-label{
  font-size:12px;
  margin-bottom: 15px;
}

#tld-wcdpue-upgrade{
  margin-top: 10px;
}

#tld-wcdpue-upgrade a{
  background: #0000ff;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
}

.tld-wcdpue-center-text{ text-align: center; }

.tld-wcdpue-top-margin{ margin-top: 10px; }

/*=== Donation ===*/

#tld-donation-wrap{
  background: #fff;
  position: fixed;
  width: 24%;
  top: 40%;
  right: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#tld-donation-header{
  background: #000;
  color: #fff;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#tld-donation-body{
  padding: 10px;
}

/*=== Media Queries ===*/

@media screen and (max-width:1024px) {

  #tld-donation-wrap{
    position: relative;
    width: 100%;
    right: 0;
  }

}

@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

  #tld-donation-wrap{
    position: relative;
    width: 100%;
    right: 0;
  }

}
